*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
padding: 20px 75px;
}
img{
    display: flex;
    width: 70%;
    height: 30%;
    margin-top: 20px;
}
.ıd{
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .ad{
        padding: 5px;
        background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
        border-radius: 10px;
        margin-bottom: 25px;
        margin-top: 15px
    }
    .ad:hover{
        cursor: pointer;
    }
    .buton{
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 25px;
        border-radius: 25px;
    }

    .btn{
        background-color: #74EBD5;
        background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
        margin-top: 7px;
        padding: 5px 25px;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .btn:hover{
        background-color: #FAD961;
        background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
        cursor: pointer;
    }
        .ıdd{
        background-color: #74EBD5;
        margin-top: 10px;
        padding: 5px 30px;
        border-radius: 10px;
        margin-left: 60px;
        transition: all 0.5s;
    }
    .ıdd:hover{
        background-color: #9FACE6;
        font-size: 20px;
        transition: all 0.5s;
        cursor: pointer;
    }
    .ıddd{
        background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

    }
.yorum{
    margin-bottom: 20px;
    background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

.add{
    display: flex;
    font-size: 20px;
    display: inline-block;
    margin-right: 25px;
    transition: all 0.5s;
    font-weight: 800;
}
a{
text-decoration: none
}
.add:hover{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    border-radius: 8px;
    transition: all 0.5s;
    font-size: 30px;
}
.ade{
    font-size: 30px;
    margin: 0;
    transition: all 0.5s;
}
.ed td{
    padding: 5px;
}
.ade:hover{
    font-size: 40px;
    border-radius: 10px;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    transition: all 0.5s;
}